#Configuration file for Grizzly bear mod
#Wed Mar 30 01:59:32 CEST 2022
entity.damage=6.0
config.version=1
debug=false
entity.angertimemin=20
spawn.biomes=TAIGA
entity.follow=20.0
spawn.min=2
spawn.weight=50
entity.angertimemax=39
entity.speed=0.25
entity.health=30.0
spawn.max=4
entity.friendly=false
